:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --scn-font: "Raleway", sans-serif;
  /* Text colors */
  --main-txt-cl: #212121;
  --scn-txt-cl: #757575;
  --light-txt-cl: #ffffff;
  --accent-cl: #2196f3;
  /* Background colors */
  --main-bg-cl: #2f303a;
  --light-bg-cl: #f5f5f5;
  --third-bg-cl: #f5f4fa;
  --fourth-bg-cl: #eeeeee;
  /* Others */
  --fill-cl: #afb1b8;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pecul-subtitle,
.team-subtitle,
.prtf-tex {
  color: var(--scn-txt-cl);
}

.link {
  text-decoration: none;
  color: var(--main-txt-cl);
}

.addr-link,
.hero-title {
  color: var(--light-txt-cl);
}

.prtf-btn,
.hero-btn,
.modal-btn,
.footer-form-btn {
  cursor: pointer;
}

.list {
  list-style: none;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  background-color: var(--light-txt-cl);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  font-family: var(--scn-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
}

.logo-up {
  margin-right: 93px;
}

.cnt-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 500;
  line-height: 1.1428571429;
  color: var(--scn-txt-cl);
  letter-spacing: 0.02em;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.cnt-icon {
  fill: var(--scn-txt-cl);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.cnt-link:hover .cnt-icon,
.cnt-link:focus .cnt-icon {
  fill: var(--accent-cl);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-cl);
}

.socials__icon {
  fill: var(--fill-cl);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--light-txt-cl);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--light-txt-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  padding: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--light-txt-cl);
  cursor: pointer;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-cl);
}

.register-form-title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.input-container {
  margin-bottom: 10px;
  position: relative;
}

.input-container:nth-child(5) {
  margin-bottom: 20px;
}

.input-container:nth-child(6) {
  margin-bottom: 30px;
}

.input-icon {
  position: absolute;
  top: 65%;
  left: 5%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.input-icon:hover {
  cursor: pointer;
}

.input-box {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: border var(--anim);
  transition: border var(--anim);
}

.input-box:focus {
  outline: transparent;
  border: 1px solid var(--accent-cl);
}

.input-box:focus + .input-icon {
  fill: var(--accent-cl);
}

textarea {
  resize: none;
}

.textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--anim);
  transition: border var(--anim);
}

.textarea:focus {
  border: 1px solid var(--accent-cl);
}

.icon-checked {
  opacity: 0;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.checkbox:checked + .icon-check .icon-checked {
  opacity: 1;
}

.icon-unchecked {
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.checkbox:checked + .icon-check .icon-unchecked {
  opacity: 0;
}

.text-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

.check-text {
  color: var(--scn-txt-cl);
}

.check-text-accent {
  color: var(--accent-cl);
}

.text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  color: var(--scn-txt-cl);
}

.form-btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-form-btn {
  padding: 10px 52px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-cl);
  color: var(--light-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: var(--light-txt-cl);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav {
  margin-right: auto;
}

.nav-list,
.cnt-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding-left: 0;
}

.accent {
  color: var(--accent-cl);
}

.light {
  color: var(--light-txt-cl);
}

.dark {
  color: #000000;
}

.nav-link:hover,
.nav-link:focus,
.cnt-link:hover,
.cnt-link:focus {
  color: var(--accent-cl);
}

.current:visited {
  color: var(--accent-cl);
}

.nav-box {
  position: relative;
}

.nav-box-line {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--accent-cl);
  border-radius: 2px;
}

.nav-link {
  padding-top: 32px;
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero {
  background-color: var(--main-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.4)), to(rgba(47, 48, 58, 0.6))), url(../images/overlay.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(47, 48, 58, 0.6)), url(../images/overlay.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1600px;
}

.hero-title {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-cl);
  color: var(--light-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.diff__box {
  width: 270px;
  height: 120px;
  background-color: var(--third-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.diff__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.diff__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428571429;
}

.diff__item {
  width: 270px;
}

.about__section {
  padding-top: 0;
}

.about__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  gap: 30px;
}

.about__box {
  position: relative;
}

.about__overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--light-txt-cl);
}

.about__text {
  font-size: 14px;
  line-height: 1.1428571429;
}

.team__section {
  background-color: var(--third-bg-cl);
}

.team__caption {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  background: var(--light-txt-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  background-color: var(--light-txt-cl);
}

.team__text {
  padding: 30px 10px;
}

.team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team__subtitle {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 16px;
}

.clients__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--main-txt-cl);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-left: 0;
}

.clients__link {
  width: 170px;
  height: 92px;
  background-color: var(--light-txt-cl);
  border: 1px solid var(--fill-cl);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.clients__icon {
  fill: var(--fill-cl);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-cl);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-cl);
}

.prtf {
  background-color: var(--light-txt-cl);
}

.prtf-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.prtf-btn {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: background-color var(--anim), color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), -webkit-box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim);
  transition: background-color var(--anim), color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}

.prtf-btn,
.active {
  background-color: var(--fourth-bg-cl);
}

.prtf-btn:hover,
.prtf-btn:focus {
  background-color: var(--accent-cl);
  color: var(--light-txt-cl);
  -webkit-box-shadow: 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.img-item {
  background-color: var(--light-txt-cl);
  border: 1px solid var(--fourth-bg-cl);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.img-item:hover,
.img-item:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-link {
  background-color: var(--light-txt-cl);
}

.img-list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.prtf-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5555555556;
  color: var(--light-txt-cl);
  -webkit-transition: -webkit-transform var(--anim);
  transition: -webkit-transform var(--anim);
  transition: transform var(--anim);
  transition: transform var(--anim), -webkit-transform var(--anim);
}

.img-link:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.active {
  background-color: var(--accent-cl);
  color: var(--light-txt-cl);
  cursor: pointer;
}

.prtf-btn,
.active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  font-family: inherit;
}

.prtf-text {
  padding: 20px 24px;
}

.prtf-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.prtf-subtitle {
  font-size: 16px;
  line-height: 1.875;
  color: var(--scn-txt-cl);
}

.footer {
  background-color: var(--main-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials-icon-footer {
  fill: var(--light-txt-cl);
}

.socials-footer-title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}

.socials-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.socials-link-footer:hover,
.socials-link-footer:focus {
  background-color: var(--accent-cl);
}

.addr-list {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.addr-item {
  margin-bottom: 9px;
}

.addr-item:last-child {
  margin-bottom: 0;
}

.addr-link {
  font-style: normal;
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.addr {
  margin-top: 20px;
}

.tm {
  color: rgba(255, 255, 255, 0.6);
}

.tm:hover,
.tm:focus {
  color: var(--accent-cl);
}

.footer-form-title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: var(--light-txt-cl);
  margin-bottom: 20px;
}

.footer-form-btn {
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent-cl);
  color: var(--light-txt-cl);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  fill: var(--light-txt-cl);
}

.footer-form-icon {
  position: absolute;
  top: 30%;
  right: 30px;
}

.input-footer {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--main-bg-cl);
  margin-right: 12px;
  padding-left: 16px;
  color: var(--light-txt-cl);
}/*# sourceMappingURL=main.css.map */