.header {
  background-color: var(--light-txt-cl);
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.header-container {
  max-width: 1200px;
  height: 60px;
  display: flex;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.main-nav {
  display: none;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav-list,
.cnt-list {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 0;
}

.accent {
  color: var(--accent-cl);
}

.light {
  color: var(--light-txt-cl);
}

.dark {
  color: #000000;
}

.nav-link:hover,
.nav-link:focus,
.cnt-link:hover,
.cnt-link:focus {
  color: var(--accent-cl);
}

.current {
  color: var(--accent-cl);
}

.nav-box {
  position: relative;
}

.nav-box-line {
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--accent-cl);
  border-radius: 2px;
}

.nav-link {
  padding-top: 32px;
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition: var(--anim);
}

.header-group {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  //   align-items: center;
}

.cnt-list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 12px;
  }
}
